<div class="container">
  <div class="add-container" [formGroup]="locationForm">
    <h2 class="add-label">Search for location:</h2>
    <mat-form-field>
      <mat-select placeholder="Location Search" (selectionChange)="onSearchSelect($event.value)">
        <mat-option>
          <ngx-mat-select-search
            [formControl]="locationSearchForm"
            placeholderLabel="Search location...">
          </ngx-mat-select-search>
        </mat-option>
        <mat-option *ngFor="let location of locationsSearched$ | async"
          [value]="location">
          <div class="option-content">{{location.name}}</div>
          <div class="option-content">{{location.latitude.toFixed(4)}}, {{location.longitude.toFixed(4)}}</div>
        </mat-option>
      </mat-select>
    </mat-form-field>

    <h2 class="add-label">Insert location manually:</h2>
    <div class="manual-fields">
      <mat-form-field>
        <input matInput
          formControlName="latitude"
          type="number"
          placeholder="Latitude">
      </mat-form-field>
      <mat-form-field>
        <input matInput
          formControlName="longitude"
          type="number"
          placeholder="Longitude">
      </mat-form-field>
      <mat-form-field>
        <input matInput
          formControlName="name"
          placeholder="Location Name">
      </mat-form-field>
      <button mat-raised-button
        class="add-button"
        color="primary"
        (click)="addLocation()">
        Add location
      </button>
    </div>
  </div>
  <div class="cards-container">
    <mat-card *ngFor="let location of weatherLocations; let i = index"
      class="weather-card">
      <mat-card-header>
        <mat-card-title>{{location.name}}</mat-card-title>
        <mat-card-subtitle>
          Latitude: {{location.latitude}}, Longitude: {{location.longitude}}
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <span>Temperature: {{location.current_weather.temperature}}C</span>
        <span>Wind Speed: {{location.current_weather.windspeed}}km/h</span>
        <span>Wind Direction: {{location.current_weather.windspeed}} degrees</span>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="removeLocation(location)">Remove</button>
        <button mat-button (click)="openDetailsDialog(location)">Details</button>
        <button mat-button (click)="openEditDialog(location, i)">Edit</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>